h1 {
    font-size: 50px;
    margin-top: 2em;
}

h4 {
    margin-top: 2em;
}

.bg {
    background-color: white;
    border-radius: 30px;
}

.textarea {
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: whitesmoke;
    width: 60%;
}

.textarea:focus {
    background-color: rgba(255, 255, 255, 0.3);
    color: whitesmoke;
}

.textarea::placeholder {
    color: black;
}

.feedsubmit {
    width: 30%;
    background-color: #ffffff;
    border-radius: 50px;
    color: #FC543A;
    font-weight: 600;
    padding: 10px;
    margin-top: 30px;
    font-size: 20pt;
}

.feedsubmit:hover {
    box-shadow: 0px 15px 20px rgba(252, 84, 58, 0.4);
}

.table {
    margin-top: 2em;
    width: 40%;
    color: black;
    border-radius: 20px;
    overflow: hidden;
}

th {
    color: white;
}

tr {
    color: black;
}

thead {
    background-color: #42000b;

    border-top-left-radius: 100px;
    font-size: 20px;
    text-align: center;
}

tbody {
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 17px;
    text-align: right;
}

.checked {
    color: orange;
}