@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600');

body {
    font-family: 'Kanit', sans-serif;
    background: url("../assets/bg.jpg");
    background-size: cover;
    color: #ffffff;

}